body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 75%;
    margin-left: 125px;
}

p {
    text-indent: 30px;
    text-align: left;
}

.l {
  text-align: left;
}

span[rend="indent"]
{
  margin-left: 20px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: green;
}

.del {
    text-decoration: line-through;
  color: rgb(152, 3, 90);
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000;
}

